body{
    /* background-color: rgb(250, 230, 255); */
    background-color: #98189a;
    
}
*, :after, :before {
    box-sizing: border-box;
}
._formTitle{
    background: #98189a;
    color: #fff;
     font-family: "Bree Serif",serif!important;;
     justify-content: center;
    align-items: center;

   
}
div{
    display: block;
  
}
._formTitle{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
._formTitle{
    box-sizing: border-box;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.container{
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    text-align: center;
    margin-top: 20px;
}
.justify-content-center {
    justify-content: center!important;
}
.row {
    /* display: flex; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    padding-right: 15px;
}
.login {
    text-align: center!important;
     background-color: #fff; 
     padding-bottom: 30px; 
     border-radius: 5px; 
     box-shadow: 0 10px 13px -7px #000, 5px 5px 8px 5px transparent; 
}
.logo {
    width: 50%;
}
.logo {
    width: 30%!important;
}
img, svg {
     vertical-align: middle; 
}
img {
    border-style: none;
}
img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 1.45rem;
}
*, :after, :before {
    box-sizing: border-box;
}
._inputDiv{
    width: 100%;
    margin-top: 20px;
}
._btn, ._input {
    padding: 2%;
}
._input {
    width: 80%;
    border: 1px solid #98189a;
    border-radius: 5px;
    outline: none;
    color: #98189a;
    font-size: 12px!important;
}
._btn{
    width: 40%;
    border: none;
    padding: 1%;
    border-radius: 50px;
    margin-top: 20px;
    outline: none!important
}
._btn{
background:#293b90;
    color: #fff;
}
